//Fuentes de google fonts
$fuente-montserrat: 'Montserrat', sans-serif; 
$fuente-roboto: 'Roboto', sans-serif; 

//colores
$color-violeta: #572EE5;  
$violeta-09: rgba(87,46,229,0.9);
$violeta-hover-giff:rgba(87,46,229,0.7); 
$color-negro: #000000;  
$color-negro-burguer: #060A24; 
$negro-modal:#37383cea; 
$color-sugerencia: #9CAFC3; 
$header-noche:#37383C;  
$color-GIFOS: #50E3C2;  
$color-blanco: #FFFFFF;  
$color-blanco-down: rgba(255, 255, 255, 0.7); 
$background-modal:rgba(255, 255, 255, 0.9); 
$background-header: rgba(255,255,255,0.5); 
$background-slider: #F3F5F8;  
$background-slider-noche: #222326; 




